#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.hamburger {
  display: flex;
  width: 100%;
  top: 10px;
  position: absolute;
  justify-content: flex-end;
}
.hamburger-icon {
  padding: 5px 20px 0 0;
}
.hamburger-icon:hover {
  cursor: pointer;
}
.exit {
  position: absolute;
  top: 10px;
  left: 10px;
}
.menuBtn {
  list-style: none;
  width: 50vw;
}
.backdrop {
  top: 0;
  position: fixed;
  background: rgba(24, 22, 22, 0.9);
  width: 100%;
  height: 100%;
  display: flex;
}
.modalRight,
.modalLeft {
  height: 100%;
  width: 50%;
  display: flex;
}
.modalLeft {
  background: rgba(31, 30, 30, 0.9);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  line-height: 50px;
}
.skills {
  display: flex;
  align-items: center;
}
.skills > * {
  margin: 5px;
}
.fa-html5 {
  color: #e96228;
}
.fa-css3-alt {
  color: #0896de;
}
.fa-js {
  color: #eed922;
}
.fa-vuejs {
  color: #3eb27f;
}

.modalRight {
  background: rgba(49, 47, 47, 0.7);
  align-items: center;
  justify-content: center;
}

.avatar {
  border-radius: 100%;
  border: 2px solid var(--secondary-color);
  width: 100px;
}
.menuBtn {
  padding: 0;
}
.menuBtn li,
.menuBtn a {
  text-decoration: none;
  color: inherit;
  font-size: 30px;
  line-height: 100px;
  display: flex;
  justify-content: center;
}
.menuBtn a:hover {
  color: var(--secondary-color);
}
