@media only screen and (max-width: 769px) {
  body {
    width: 100vw;
  }
  .main {
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-left: 0;
  }
  .backdrop {
    display: flex;
    flex-direction: column;
  }
  .modalLeft,
  .modalRight {
    width: 100vw;
  }
  .modalLeft {
    height: 30vh;
    padding-top: 30px;
  }
  .modalName {
    display: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .title {
    padding: 0;
    margin: 0;
  }
  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100vw;
  }
  .item {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .project-img {
    background-image: url(../images/project/project-planner-project.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 250px;
    height: 150px;
    color: black;
  }
  .project-img-text {
    position: relative;
    bottom: 50%;
    margin-left: 0;
    padding-left: 0;
    font-size: 20px;
    padding-left: 15%;
  }
  .contact {
    margin-top: 30px;
  }
  .email {
    display: flex;
    flex-direction: column;
  }
  .phone {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  .main {
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .backdrop {
    display: flex;
    flex-direction: column;
  }
  .modalLeft,
  .modalRight {
    width: 100vw;
  }
  .modalLeft {
    height: 30vh;
    padding-top: 30px;
  }
  .modalName {
    display: none;
  }
}
